{% liquid

%}
<div class="search-bar-container">
  <form action="{{ routes.search_url }}">
    <select id="slct1" name="slct1" onchange="unblockYear()">
      <option value="-Make-">--Make--</option>
      <option value="Alfa romeo">Alfa Romeo</option>
      <option value="Audi">Audi</option>
      <option value="Aston Martin">Aston Martin</option>
      <option value="BMW">BMW</option>
      <option value="Dacia">Dacia</option>
      <option value="Ford">Ford</option>
      <option value="Jaguar">Jaguar</option>
      <option value="Jeep">Jeep</option>
      <option value="Kia">Kia</option>
      <option value="Lexus">Lexus</option>
      <option value="Mazda">Mazda</option>
      <option value="Mercedes">Mercedes</option>
      <option value="Mini Cooper">Mini Cooper</option>
      <option value="Mitsubishi">Mitsubishi</option>
      <option value="Nissan">Nissan</option>
      <option value="Renault">Renault</option>
      <option value="Peugeot">Peugeot</option>
      <option value="Porsche">Porsche</option>
      <option value="Tesla">Tesla</option>
      <option value="Toyota">Toyota</option>
      <option value="Volskvagen">Volskvagen</option>
      <option value="Volvo">Volvo</option>
    </select>

    <select id="year" onchange="populate(this.id,'slct2')" disabled>
      <option value="en">--Year--</option>
      <option value="2018">2016</option>
      <option value="2019">2017</option>
      <option value="2018">2018</option>
      <option value="2019">2019</option>
      <option value="2020">2020</option>
      <option value="2021">2021</option>
      <option value="2022">2022</option>
      <option value="2023">2023</option>
    </select>

    <select
      id="slct2"
      name="slct2"
      onChange="update()"
      onchange="unblockText()"
      disabled
    >
      <option value="Make">--Model--</option>
    </select>
    <input
      type="text"
      placeholder="Search or type SKU"
      name="q"
      id="text"
      class="text-bar"
    >
    <input class="shop-car-button" type="submit" value="Shop by car">
  </form>
</div>

{% liquid

%}

<script>
  function populate(s1,s2){
    var s1 = document.getElementById("slct1");
    var s2 = document.getElementById("slct2");
    const yearValue = document.getElementById("year")
    s2.innerHTML = "";
      s1.removeAttribute('disabled');
      s2.removeAttribute('disabled');

    if(s1.value == "Tesla" && yearValue.value == "2018"){
      var optionArray = ["|Model","camaro|Camaro","corvette|Corvette","impala|Impala"];
    } else if(s1.value == "Tesla" && yearValue.value == "2019"){
      var optionArray = ["|Model","avenger|Avenger","challenger|Challenger","charger|Charger"];
    } else if(s1.value == "Tesla" && yearValue.value == "2020"){
      var optionArray = ["|Model","mustang|Mustang","shelby|Shelby"];
    }else if(s1.value == "Tesla" && yearValue.value == "2021"){
      var optionArray = ["|Model","mustang|Mustang","shelby|Shelby"];
    }else if(s1.value == "Tesla" && yearValue.value == "2022"){
      var optionArray = ["|Model","mustang|Mustang","shelby|Shelby"];
    }else if(s1.value == "Tesla" && yearValue.value == "2023"){
      var optionArray = ["|Model","mustang|Mustang","shelby|Shelby"];
    }

    if(s1.value == "Peugeot" && yearValue.value == "2018"){
      var optionArray = ["|Model","almera|Almera","supra|Supra","x-trail|X-trail"];
    } else if(s1.value == "Peugeot" && yearValue.value == "2019"){
      var optionArray = ["|Model","3008|3008"];
    } else if(s1.value == "Peugeot" && yearValue.value == "2020"){
      var optionArray = ["|Model","306|306","306|306"];
    } else if(s1.value == "Peugeot" && yearValue.value == "2021"){
      var optionArray = ["|Model","3008|3008","306|306"];
    } else if(s1.value == "Peugeot" && yearValue.value == "2022"){
      var optionArray = ["|Model","3008|3008","306|306"];
    } else if(s1.value == "Peugeot" && yearValue.value == "2023"){
      var optionArray = ["|Model","3008|3008","306|306"];
    }

    if(s1.value == "Mini" && yearValue.value == "2018"){
      var optionArray = ["|Model","almera|Almera","supra|Supra","x-trail|X-trail"];
    } else if(s1.value == "Mini" && yearValue.value == "2019"){
      var optionArray = ["|Model","avenger|Avenger","challenger|Challenger","charger|Charger"];
    } else if(s1.value == "Mini" && yearValue.value == "2020"){
      var optionArray = ["|Model","mustang|Mustang","shelby|Shelby"];
    } else if(s1.value == "Mini" && yearValue.value == "2021"){
      var optionArray = ["|Model","mustang|Mustang","shelby|Shelby"];
    } else if(s1.value == "Mini" && yearValue.value == "2022"){
      var optionArray = ["|Model","mustang|Mustang","shelby|Shelby"];
    } else if(s1.value == "Mini" && yearValue.value == "2023"){
      var optionArray = ["|Model","mustang|Mustang","shelby|Shelby"];
    }

    for(var option in optionArray){
      var pair = optionArray[option].split("|");
      var newOption = document.createElement("option");
      newOption.value = pair[0];
      newOption.innerHTML = pair[1];
      s2.options.add(newOption);
      text.placeholder = "Search vehicle"
    }
  }

     function update () {

       var make = document.getElementById('slct1');
      var optionMake = make.options[make.selectedIndex];

      var model = document.getElementById('slct2');
      var optionModel = model.options[model.selectedIndex];

      const year = document.getElementById('year');
      const optionYear = year.options[year.selectedIndex];


      document.getElementById('text').value = optionMake.text + " " + optionModel.text + " " + optionYear.text;

     }

     function unblockYear() {
      const yearValue = document.getElementById("year")
      yearValue.removeAttribute('disabled');
     }
</script>

<style>
  .search-bar-container {
      font-family: "helvetica";
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
  }


  .search-bar-container select {
      padding: 1em;
      appearance: none;
      cursor: pointer;
      border-radius: 5px;
    }

  .search-bar-container input {
      padding: 1em;
      border-radius: 5px;
  }

  .search-bar-container input {
      padding: 1em;
      appearance: none;
  }

  .search-bar-container select {
      appearance:none;
      padding: 1em;
  }

  .shop-car-button {
      background-color: #e32020;
      border: none;
      color: #fff;
      font-weight: 600;
      cursor: pointer;
  }

    @media(max-width: 800px) {
      .search-bar-container form {
        display: flex;
        flex-direction: column;
        gap: 2em;
        width: 100%;
        padding: 2em;
      }
    }
</style>
