{% liquid

%}
<div class="search-bar-container">
  <form action="{{ routes.search_url }}">
    <select id="slct1" name="slct1" onchange="unblockYear()">
      <option value="-Make-">--Make--</option>
      <option value="Universal">Universal</option>
      {% comment %} <option value="Alfa romeo">Alfa Romeo</option> {% endcomment %}
      <option value="Audi">Audi</option>
      {% comment %} <option value="Aston Martin">Aston Martin</option> {% endcomment %}
      <option value="BMW">BMW</option>
      <option value="Dacia">Dacia</option>
      <option value="Ford">Ford</option>
      <option value="Jaguar">Jaguar</option>
      <option value="Jeep">Jeep</option>
      {% comment %} <option value="Kia">Kia</option> {% endcomment %}
      {% comment %} <option value="Lexus">Lexus</option> {% endcomment %}
      <option value="Land rover">Land rover</option>
      {% comment %} <option value="Mazda">Mazda</option> {% endcomment %}
      <option value="Mercedes">Mercedes</option>
      <option value="Mini">Mini</option>
      <option value="Mitsubishi">Mitsubishi</option>
      <option value="Nissan">Nissan</option>
      {% comment %} <option value="Renault">Renault</option> {% endcomment %}
      <option value="Peugeot">Peugeot</option>
      <option value="Porsche">Porsche</option>
      <option value="Skoda">Skoda</option>
      <option value="Tesla">Tesla</option>
      <option value="Toyota">Toyota</option>
      <option value="Volskvagen">Volskvagen</option>
      <option value="Volvo">Volvo</option>
    </select>

    <select id="year" onchange="populate(this.id,'slct2')" disabled>
      <option value="en">--Year--</option>
      <option value="2023">2023</option>
      <option value="2022">2022</option>
      <option value="2021">2021</option>
      <option value="2020">2020</option>
      <option value="2019">2019</option>
      <option value="2018">2018</option>
      <option value="2017">2017</option>
      <option value="2016">2016</option>
    </select>

    <select
      id="slct2"
      name="slct2"
      onChange="update()"
      onchange="unblockText()"
      disabled
    >
      <option value="Make">--Model--</option>
    </select>
    <input
      type="text"
      placeholder="Search or type SKU"
      name="q"
      id="text"
      class="text-bar"
    >
    <input class="shop-car-button" type="submit" value="Shop by car">
  </form>
</div>

{% liquid

%}

<script>
    function populate(s1,s2){
      var s1 = document.getElementById("slct1");
      var s2 = document.getElementById("slct2");
      const yearValue = document.getElementById("year")
      s2.innerHTML = "";
        s1.removeAttribute('disabled');
        s2.removeAttribute('disabled');

    {% comment %} Universal {% endcomment %}
    if(s1.value == "Universal" && yearValue.value == "2016"){
      var optionArray = ["|Model","no match| no match"];
    } else if(s1.value == "Universal" && yearValue.value == "2017"){
      var optionArray = ["|Model","no match| no match"];
    } else if(s1.value == "Universal" && yearValue.value == "2018"){
      var optionArray = ["|Model","no match| no match"];
    } else if(s1.value == "Universal" && yearValue.value == "2019"){
      var optionArray = ["|Model","no match| no match"];
    } else if(s1.value == "Universal" && yearValue.value == "2020"){
      var optionArray = ["|Model","e-tron GT|E-tron GT","q5|Q5","sq5|SQ5","q3|Q3"];
    }else if(s1.value == "Universal" && yearValue.value == "2021"){
      var optionArray = ["|Model","e-tron GT|E-tron GT","q5|Q5","sq5|SQ5","q3|Q3"];
    }else if(s1.value == "Universal" && yearValue.value == "2022"){
      var optionArray = ["|Model","e-tron|E-tron","e-tron GT|E-tron GT","q5|Q5","sq5|SQ5","q4 e-tron|Q4 e-tron","q3|Q3"];
    }else if(s1.value == "Universal" && yearValue.value == "2023"){
      var optionArray = ["|Model","e-tron|E-tron","e-tron GT|E-tron GT","q5|Q5","sq5|SQ5","q4 e-tron|Q4 e-tron","q3|Q3"];
    }

  {% comment %} Audi {% endcomment %}
      if(s1.value == "Audi" && yearValue.value == "2016"){
        var optionArray = ["|Model","no match| no match"];
      } else if(s1.value == "Audi" && yearValue.value == "2017"){
        var optionArray = ["|Model","no match| no match"];
      } else if(s1.value == "Audi" && yearValue.value == "2018"){
        var optionArray = ["|Model","no match| no match"];
      } else if(s1.value == "Audi" && yearValue.value == "2019"){
        var optionArray = ["|Model","no match| no match"];
      } else if(s1.value == "Audi" && yearValue.value == "2020"){
        var optionArray = ["|Model","e-tron GT|E-tron GT","q5|Q5","sq5|SQ5","q3|Q3"];
      }else if(s1.value == "Audi" && yearValue.value == "2021"){
        var optionArray = ["|Model","e-tron GT|E-tron GT","q5|Q5","sq5|SQ5","q3|Q3"];
      }else if(s1.value == "Audi" && yearValue.value == "2022"){
        var optionArray = ["|Model","e-tron|E-tron","e-tron GT|E-tron GT","q8|Q8","q5|Q5","sq5|SQ5","q4 e-tron|Q4 e-tron","q3|Q3"];
      }else if(s1.value == "Audi" && yearValue.value == "2023"){
        var optionArray = ["|Model","e-tron|E-tron","e-tron GT|E-tron GT","q8|Q8","q5|Q5","sq5|SQ5","q4 e-tron|Q4 e-tron","q3|Q3"];
      }

  {% comment %} BMW {% endcomment %}
  if(s1.value == "BMW" && yearValue.value == "2016"){
    var optionArray = ["|Model","no match| no match"];
  } else if(s1.value == "BMW" && yearValue.value == "2017"){
    var optionArray = ["|Model","no match| no match"];
  } else if(s1.value == "BMW" && yearValue.value == "2018"){
    var optionArray = ["|Model","no match| no match"];
  } else if(s1.value == "BMW" && yearValue.value == "2019"){
    var optionArray = ["|Model","no match| no match"];
  } else if(s1.value == "BMW" && yearValue.value == "2020"){
    var optionArray = ["|Model","x6|X6","x5|X5"];
  }else if(s1.value == "BMW" && yearValue.value == "2021"){
    var optionArray = ["|Model","x6|X6","x5|X5"];
  }else if(s1.value == "BMW" && yearValue.value == "2022"){
    var optionArray = ["|Model","x6|X6","x5|X5","x4|X4","x3|X3","x1|X1"];
  }else if(s1.value == "BMW" && yearValue.value == "2023"){
    var optionArray = ["|Model","x6|X6","x5|X5","x4|X4","x3|X3","x1|X1"];
  }

  {% comment %} Tesla {% endcomment %}

      if(s1.value == "Tesla" && yearValue.value == "2016"){
        var optionArray = ["|Model","no match| no match"];
      } else if(s1.value == "Audi" && yearValue.value == "2017"){
        var optionArray = ["|Model","model 3|Model 3","model y|Model Y"];
      } else if(s1.value == "Tesla" && yearValue.value == "2018"){
        var optionArray = ["|Model","model 3|Model 3","model y|Model Y"];
      } else if(s1.value == "Tesla" && yearValue.value == "2019"){
        var optionArray = ["|Model","model 3|Model 3","model y|Model Y"];
      } else if(s1.value == "Tesla" && yearValue.value == "2020"){
        var optionArray = ["|Model","model 3|Model 3","model y|Model Y"];
      }else if(s1.value == "Tesla" && yearValue.value == "2021"){
        var optionArray = ["|Model","model 3|Model 3","model y|Model Y"];
      }else if(s1.value == "Tesla" && yearValue.value == "2022"){
        var optionArray = ["|Model","model 3|Model 3","model y|Model Y"];
      }else if(s1.value == "Tesla" && yearValue.value == "2023"){
        var optionArray = ["|Model","model 3|Model 3","model y|Model Y"];
      }

  {% comment %} Peugeot {% endcomment %}

      if(s1.value == "Peugeot" && yearValue.value == "2016"){
        var optionArray = ["|Model","3008|3008"];
      } else if(s1.value == "Peugeot" && yearValue.value == "2017"){
        var optionArray = ["|Model","3008|3008"];
      } else if(s1.value == "Peugeot" && yearValue.value == "2018"){
        var optionArray = ["|Model","3008|3008"];
      } else if(s1.value == "Peugeot" && yearValue.value == "2019"){
        var optionArray = ["|Model","3008|3008"];
      } else if(s1.value == "Peugeot" && yearValue.value == "2020"){
        var optionArray = ["|Model","3008|3008"];
      } else if(s1.value == "Peugeot" && yearValue.value == "2021"){
        var optionArray = ["|Model","3008|3008"];
      } else if(s1.value == "Peugeot" && yearValue.value == "2022"){
        var optionArray = ["|Model","3008|3008"];
      } else if(s1.value == "Peugeot" && yearValue.value == "2023"){
        var optionArray = ["|Model","3008|3008"];
      }

  {% comment %} Mini {% endcomment %}

      if(s1.value == "Mini" && yearValue.value == "2016"){
        var optionArray = ["|Model","no match| no match"];
      } else if(s1.value == "Mini" && yearValue.value == "2017"){
        var optionArray = ["|Model","no match| no match"];
      } else if(s1.value == "Mini" && yearValue.value == "2018"){
        var optionArray = ["|Model","countryman| Countryman"];
      } else if(s1.value == "Mini" && yearValue.value == "2019"){
        var optionArray = ["|Model","countryman| Countryman"];
      } else if(s1.value == "Mini" && yearValue.value == "2020"){
        var optionArray = ["|Model","countryman| Countryman"];
      } else if(s1.value == "Mini" && yearValue.value == "2021"){
        var optionArray = ["|Model","countryman| Countryman"];
      } else if(s1.value == "Mini" && yearValue.value == "2022"){
        var optionArray = ["|Model","no match| no match"];
      } else if(s1.value == "Mini" && yearValue.value == "2023"){
        var optionArray = ["|Model","no match| no match"];
      }

      for(var option in optionArray){
        var pair = optionArray[option].split("|");
        var newOption = document.createElement("option");
        newOption.value = pair[0];
        newOption.innerHTML = pair[1];
        s2.options.add(newOption);
        text.placeholder = "Search vehicle"
      }
    }

       function update () {

         var make = document.getElementById('slct1');
        var optionMake = make.options[make.selectedIndex];

        var model = document.getElementById('slct2');
        var optionModel = model.options[model.selectedIndex];

        const year = document.getElementById('year');
        const optionYear = year.options[year.selectedIndex];


        document.getElementById('text').value = optionMake.text + " " + optionModel.text + " " + optionYear.text;

       }

       function unblockYear() {
        const yearValue = document.getElementById("year")
        yearValue.removeAttribute('disabled');
       }
</script>

<style>
  .search-bar-container {
      font-family: "helvetica";
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
  }


  .search-bar-container select {
      padding: 1em;
      appearance: none;
      cursor: pointer;
      border-radius: 5px;
    }

  .search-bar-container input {
      padding: 1em;
      border-radius: 5px;
  }

  .search-bar-container input {
      padding: 1em;
      appearance: none;
  }

  .search-bar-container select {
      appearance:none;
      padding: 1em;
  }

  .shop-car-button {
      background-color: #e32020;
      border: none;
      color: #fff;
      font-weight: 600;
      cursor: pointer;
  }

    @media(max-width: 800px) {
      .search-bar-container form {
        display: flex;
        flex-direction: column;
        gap: 2em;
        width: 100%;
        padding: 2em;
      }
    }
</style>
