{% liquid

%}
<button class="open-button">
  Search for your vehicle
  <img
    src="https://cdn.shopify.com/s/files/1/0620/4565/1108/files/car-white.png?v=1678531498"
    width="25"
    height="25"
    |
    img_url
  >
</button>

<div id="dialog-wrapper">
  <dialog class="modales">
    <section class="search-bar">
      {% render 'car-filter-master-2' %}
      <svg
        class="close"
        width="15"
        height="15"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path d="M11.314 0l2.828 2.828L9.9 7.071l4.243 4.243-2.828 2.828L7.07 9.9l-4.243 4.243L0 11.314 4.242 7.07 0 2.828 2.828 0l4.243 4.242L11.314 0z" fill="#000" fill-rule="evenodd" opacity=".4"/>
      </svg>
    </section>
  </dialog>
</div>
{% liquid

%}

{% style %}
  .open-button {
    width: 100%;
    padding: 0.9em;
    background-color: #194ba0;
    color: #fff;
    font-weight: 600;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    gap: 1em;
    font-size:1em;
  }

  .open-button:hover {
      filter: brightness(1.2)
  }

  .search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;

  }


  dialog {
    border: none;
    position: fixed;
    top: 0;
    left: 0;
  }

  .modales::backdrop {
    background: rgb(0 0 0 / 0.4);
  }

  .close {
    position: absolute;
    top: 0;
    bottom: 0;
    top: 1em;
    right: 1em;
    cursor: pointer;
  }

  @media(max-width: 800px) {
  .search-bar form {
    display: flex;
    flex-direction: column;
    gap: 2em;
    width: 100%;
    padding: 2em;
  }
  }

/* version two filter */

.search-bar-section {
  font-family: "helvetica";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: black;
  padding: 1em;
  max-width: 1350px;

}

.search-bar {
  display: flex;
  gap: 2em;
}

.search-bar form {}

.search-bar-section select,
.search-bar-section button {
  padding: 0.5em;
  cursor: pointer;
  font-weight: bold;
  border: none;
}

.search-bar-section button {
  background-color: #e32020;
  color: white;
  font-weight: none;
  border: none;
  padding: 0.5em 1em;
}


.request-form-container button {
  font-size: 12px;
}

.filter-btn-visually-hidden {
  display: none;
}


@media(max-width: 800px) {

  .search-bar-inner-section {
    width: 100%;
  }

  .search-bar {
    flex-direction: column;
    width: 100%
  }
  .search-bar form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100%;
  }
  .search-bar form select,
  .search-bar button {
    width: 100%;
  }
}

{% endstyle %}

<script>
  {% comment %} modal {% endcomment %}
    const dialog = document.querySelector('dialog')
    const openModal = document.querySelector(".open-button");
    const closeModal = document.querySelector(".close");

    openModal.addEventListener('click', () => {
      dialog.showModal()
    })

    closeModal.addEventListener('click', () => {
      dialog.close()
    })

    {% comment %} Car-filter {% endcomment %}
</script>
