{% liquid

%}
<section class="search-bar-section">
  <h1 class="search-bar-section-title">Select your vehicle</h1>
  <div class="search-bar-inner-section">
    {% render 'car-filter-master' %}
  </div>
</section>

{% liquid

%}

<style>
  .search-bar-section {
    font-family: "helvetica";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    min-height: 500px;
    background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.12),rgba(0, 0, 0, 0.60), rgba(117, 19, 93, 0)), url("{{ section.settings.background_image | img_url: '1024x1024' }}");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: {{ section.settings.image_position }}
    ;
  }

  .search-bar-section-title {
    color: #fff;
    font-size: 58px;
    text-align: center;
  }

  .search-bar-inner-section {}

  .search-bar-container input {
    padding: 1em;
    border-radius: 5px;
    border: none;
  }

  .shop-car-button {
    background-color: #e32020;
    border: none;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
  }

  @media(max-width: 800px) {
    .search-bar-container {
      width: 100%;
    }
    .search-bar-section-title {
      font-size: 30px;
    }
  }
</style>

{% schema %}
  {
    "name": "Car advance filter",
    "settings": [
      {
        "type": "image_picker",
        "id": "background_image",
        "label": "choose image"
      }, {
        "type": "range",
        "id": "image_height",
        "label": "height range in pixels",
        "max": 1200,
        "min": 300,
        "step": 100,
        "default": 500,
        "unit": "px"
      }, {
        "type": "select",
        "id": "image_position",
        "label": "image position",
        "options": [
          {
            "value": "top",
            "label": "Top"
          }, {
            "value": "center",
            "label": "Center"
          }, {
            "value": "bottom",
            "label": "Bottom"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Hero car filter"
      }
    ]
  }
{% endschema %}