{% liquid

%}

<section class="search-bar">
  <form action="{{ routes.search_url }}">
    <select
      id="slct1"
      name="slct1"
      onchange="populate(this.id,'slct2')"
    >
      <option value="-Make-">Make</option>
      <option value="Tesla">Tesla</option>
      <option value="Peugeot">Peugeot</option>
      <option value="Mini">Mini</option>
      <option value="Dacia">Dacia</option>
      <option value="Mercedes">Mercedes</option>
      <option value="Audi">Audi</option>
    </select>

    <select
      id="slct2"
      disabled
      name="slct2"
    >
      <option value="-Make-">Model</option>
    </select>

    <select
      id="year"
      disabled
      onChange="update()"
    >
      <option value="en">Year</option>
      <option value="en">2018</option>
      <option value="es">2019</option>
      <option value="ey">2020</option>
      <option value="er">2021</option>
      <option value="eu">2022</option>
      <option value="eu">2023</option>
    </select>
    <input
      type="text"
      placeholder="Search"
      name="q"
      id="text"
      class="text-bar"
      disabled
    >
    <input
      class="shop-car-button"
      type="submit"
      value="Shop by car"
    >
  </form>
</section>

{% liquid

%}

<script>
  function populate(s1, s2) {
    var s1 = document.getElementById(s1);
    var s2 = document.getElementById(s2);
    var s3 = document.getElementById('year');
    var text = document.getElementById('text');
    s2.innerHTML = '';
    s2.removeAttribute('disabled');
    s3.removeAttribute('disabled');
    text.removeAttribute('disabled');
    if (s1.value == 'Tesla') {
      var optionArray = ['|Model', 'model y|Model Y', 'model 3|Model 3', 'Tesla Y Sunshade|tesla y sunshade'];
    } else if (s1.value == 'Dacia') {
      var optionArray = ['|Model', 'duster|Duster'];
    } else if (s1.value == 'Mini') {
      var optionArray = ['|Model', 'clubman|Clubman', 'countryman|Countryman'];
    } else if (s1.value == 'Peugeot') {
      var optionArray = ['|Model', '3008|3008'];
    } else if (s1.value == 'Audi') {
      var optionArray = [
        '|Model',
        'e-tron gt cargo|E-tron GT Cargo',
        'e-tron|E-tron ',
        'e-tron suv' | 'E-tron SUV'
      ];
    } else if (s1.value == 'Mercedes') {
      var optionArray = ['|Model', 'g-class|G-class'];
    }
    for (var option in optionArray) {
      var pair = optionArray[option].split('|');
      var newOption = document.createElement('option');
      newOption.value = pair[0];
      newOption.innerHTML = pair[1];
      s2.options.add(newOption);
    }
  }

  function update() {
    var make = document.getElementById('slct1');
    var optionMake = make.options[make.selectedIndex];

    var model = document.getElementById('slct2');
    var optionModel = model.options[model.selectedIndex];

    var year = document.getElementById('year');
    var optionYear = year.options[year.selectedIndex];

    document.getElementById('text').value = optionMake.text + ' ' + optionModel.text + ' ' + optionYear.text;
  }
</script>

<style>
  .search-bar {
    font-family: "helvetica";
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    min-height: {{ section.settings.image_height }}px;
    background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.52),rgba(0, 0, 0, 0.40), rgba(117, 19, 93, 0), #e32020), url("{{ section.settings.background_image | img_url: '1024x1024' }}");
    background-size: cover;
    background-position: {{ section.settings.image_position }};
  }


  .search-bar select {
    padding: 1em;
    appearance: none;
    cursor: pointer;
    border-radius: 5px;

  }

  .search-bar input {
    padding: 1em;
    border-radius: 5px;

  }

  .shop-car-button {
    background: #e32020;
    border: none;
    color: #fff;
    font-weight: 800;
    cursor: pointer;
  }

  @media(max-width: 800px) {
    .search-bar form {
      display: flex;
      flex-direction: column;
      gap: 2em;
      width: 100%;
      padding: 2em;
    }
  }
</style>

{% schema %}
{
  "name": "Car advance filter",
  "settings": [
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "choose image"
    },
    {
      "type": "range",
      "id": "image_height",
      "label": "height range in pixels",
      "max": 1200,
      "min": 300,
      "step": 100,
      "default": 500,
      "unit": "px"
    },
    {
      "type": "select",
      "id": "image_position",
      "label": "image position",
      "options": [
        {
          "value": "top",
          "label": "Top"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "bottom",
          "label": "Bottom"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Car advance filter"
    }
  ]
}
{% endschema %}
